<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="no">penplot1.local</name>
  <service>
    <type>_ipp._tcp</type>
    <subtype>_universal._sub._ipp._tcp</subtype>
    <port>631</port>
    <txt-record>txtvers=1</txt-record>
    <txt-record>qtotal=1</txt-record>
    <txt-record>rp=printer</txt-record>
    <txt-record>ty=Digital LVP-16</txt-record>
    <txt-record>note=Digital LVP-16 (HPGL) pen-plotter</txt-record>
    <txt-record>product=(Digital LVP-16)</txt-record>
    <txt-record>printer-state=3</txt-record>
    <txt-record>printer-type=0xB00E</txt-record><!-- https://www.cups.org/doc/spec-ipp.html -->
    <txt-record>Transparent=T</txt-record>
    <txt-record>Binary=T</txt-record>
    <txt-record>Copies=T</txt-record>
    <txt-record>pdl=application/vnd.hp-HPGL,application/pdf,application/vnd.cups-raw,text/plain,application/octet-stream</txt-record>
    <txt-record>URF=none</txt-record>
  </service>
</service-group>
